.layout {
  padding: 80px 95px;
  
  @media (max-width: $breakpoint-lg) {
    padding: 48px 30px;
  }
  
  @media (max-width: $breakpoint-sm) {
    padding: 38px 20px;
  }
}


.scrollable {
  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $light-stroke;
    border: 1px $light-stroke solid;

    &:hover {
      background-color: rgba($light-stroke, 0.8);
    }
  }
}
