.layout {
  max-width: 1340px;
  padding: 0 44px;
  margin: 0 auto;
  
  @include media-breakpoint-up($breakpoint-lg) {
    padding: 0 30px;
  }

  @include media-breakpoint-up($breakpoint-sm) {
    padding: 0 20px;
  }
}

.scrollable {
  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $light-stroke;
    border: 1px $light-stroke solid;

    &:hover {
      background-color: $scroll-hover-color;
    }
  }
}
