//media

@mixin media-breakpoint-up($breakpoint) {
  @media (max-width: $breakpoint) {
    @content
  }
}

//trim text

@mixin trim-text($value) {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -moz-box;
  -moz-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: $value;
  -webkit-box-orient: vertical;
  line-clamp: $value;
  box-orient: vertical;
}

