//COLORS
$accent-color: #7C74E9;
$accent-orange: #FD7844;
$black: #000000;
$black-01: #16142C;
$black-02: #424056;
$black-03: #626272;
$black-04: #C9C9D0;
$black-05: #DFDFEB;
$gray-02: #4F4F4F;
$gray-01: #333333;
$status-red: #FF7C7C;
$status-green: #63C58A;
$status-yellow: #FFDE79;
$light: #D4D1FD;
$light-stroke: #E9E8FF;
$light-background: #F9F9FC;
$light-orange: #FCD5C5;
$light-white: #FFFFFF;
$text-color: #271C57;
$scroll-hover-color: rgba($light-stroke, 0.8);
$red-color: #FF7C7C;

//SHADOWS
$shadow-color: rgba(22, 20, 44, 0.06);

//BREAKPOINTS
$breakpoint-xl: 1599px;
$breakpoint-lg: 1367px;
$breakpoint-pre-md: 1110px;
$breakpoint-md: 1023px;
$breakpoint-sm: 767px;
$breakpoint-xs: 575px;

